@import 'variables';
@import 'animations';


// ----- Component -----
    .hoverdir-wrap{
      position: relative;
      overflow: hidden;
      &:not(.row){
        display: block;
      }
    }
    .hoverdir-wrap .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px;
      color: #fff;
      overflow: hidden;
      background-color: rgba(0, 0, 0, .6);
    }

    // .direction-reveal__anim--in is used to animate in hidden content, the default animation used on the overlay
    // .direction-reveal__anim--out is used to animate out visible content
    .hoverdir-wrap .overlay,
    .overlay-in, 
    .overlay-out {
      animation-duration: $anim-duration;
      animation-timing-function: $anim-easing-easeOutQuad;
      animation-fill-mode: forwards;
    }

    .hoverdir-wrap .overlay {
      transform: translate3d(0, -100%, 0); // Initial position before any animation i.e. hidden by default
    }

