.select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  margin: 0;
  height: $FF_Height;
  border: $FF_Border;
  padding: $FF_InnerSpace;
  vertical-align: top;
  font-size: $FF_FontSize;
  -webkit-appearance: none;
  @include css3-prefix('box-shadow', $FF_Shadow);
  -webkit-border-radius: $FF_Radius;
  @include border-radius($FF_Radius);
  @include transition();
  &:hover,
  &:focus,
  &:active{
    @include css3-prefix('box-shadow', $FF_ShadowHover);
  }
  .select2-selection__rendered {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $body_font_color;
    line-height: #{$FF_Height - 20px};
    padding: 0;
  }
  .select2-selection__clear {
    position: relative;
  }
  .select2-selection__arrow{
    top: 15px;
    right: 10px;
  }
}